@font-face {
  font-family: 'Gotham-Book';
  src: url('fonts/Gotham-Book.eot');
  src: local('Gotham-Book'),
    url('fonts/Gotham-Book.woff') format('woff'),
    url('fonts/Gotham-Book.ttf') format('truetype'),
    url('fonts/Gotham-Book.svg') format('svg');
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('fonts/Gotham-Medium.eot');
  src: local('Gotham-Medium'),
    url('fonts/Gotham-Medium.woff') format('woff'),
    url('fonts/Gotham-Medium.ttf') ('truetype'),
    url('fonts/Gotham-Medium.svg') format('svg');
}



.green-bg {
  background-color: #37C99E; }

.green-click {
  background-color: #59f7ba; }

.purple-bg {
  background-color: #ab64cc; }

.purple-click{
    background-color: #bd70e5}

.blue-bg {
  background-color: #54c4c6; }

.blue-click {
  background-color: #6eeaea; }

.yellow-bg {
  background-color: #f4d74a; }

.yellow-click {
  background-color: #ffe888 } 

.red-bg {
  background-color: #e55c55; }

.red-click {
  background-color: #fc8888; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.content {
  width: 100%;
  max-width: 240px;
  height: 420px;
  overflow: hidden;
  margin: 0 0 auto; 
  background-color: #f4f4f4;
  background-size: 100px;
}

ul {
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
  margin: 0; }

ul.card-stack {
  max-width: 200px;
  height: 260px;
  margin: 35px auto 10px;
  position: relative; }

.card {
  margin: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
  -webkit-transform: scale(.7, .7);
  transform: scale(.7, .7);
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  -o-transition: .7s;
  transition: .7s;
  background: white;
  position: absolute;
  margin: auto;
  -webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  /*  &:hover{
      left: -20px;
    }*/ }
  .card.back-6 {
    -webkit-transform: scale(0.75, 0.75);
    transform: scale(0.75, 0.75);
    top: -25%; }
  .card.back-5 {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    top: -20%; }
  .card.back-4 {
    -webkit-transform: scale(0.85, 0.85);
    transform: scale(0.85, 0.85);
    top: -15%; }
  .card.back-3 {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    top: -10%; }
  .card.back-2 {
    -webkit-transform: scale(0.95, 0.95);
    transform: scale(0.95, 0.95);
    top: -5%; }
  .card.front {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0; }
  .card.removed {
    left: -1000px; }


.thank-you{
  margin-top: 20px;
}

.card-header {
  width: 100%;
  height: 65px; 
  border-radius: 3px;
  background: url('img/food-header.png');
}

.dynamic-color:nth-child(2n + 0) .card-header {
  background: #e55c55 url('img/food-header.png') no-repeat center; 
  background-size: 200px;
}
.dynamic-color:nth-child(3n + 0) .card-header {
  background: #54c4c6 url('img/food-header.png') no-repeat center; 
  background-size: 200px;
}
.dynamic-color:nth-child(4n + 0) .card-header {
  background: #f4d74a url('img/food-header.png') no-repeat center; 
  background-size: 200px; 
}
.dynamic-color:nth-child(5n + 0) .card-header {
  background: #ab64cc url('img/food-header.png') no-repeat center; 
  background-size: 200px;
}

.dynamic-color:nth-child(6n + 0) .card-header {
  background: #37C99E url('img/food-pattern.png') no-repeat center; 
  background-size: 200px;
}

.logo {
  height: 45px;
  width: 45px;
  background: #fff url('img/starbucks-logo.png') no-repeat center;
  background-size: 35px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  margin: auto;
  margin-top: -20px; 
 
  }

.company-name {
  text-align: center;
  font-size: .5em;
  margin-top: 5px;
  color: #c5c5c5; 
  font-family: 'Gotham-Book', sans-serif;
    }

.question {
  font-size: 1em;
  text-align: center;
  margin-top: 35px;
  padding-left: 10px;
  padding-right: 10px; 
  line-height: 1.3;
  font-family: 'Gotham-Book', sans-serif;
  }

a{
  font-family: 'Gotham-Medium', sans-serif;
  text-transform: uppercase;
  color: #ab64cc;
  text-decoration: none;
  text-align: center;
  font-size: .7em;
}

.links{
  text-align: center;
  margin-top: 40px;
}

.answer-container {
  width: 100%;
  height: 30%;
  margin-top: 30px;
  position: relative;
  font-family: 'Gotham-Medium', sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  /* padding: 1em;*/ }
  .answer-container .button-set {
    position: absolute;
    right: -100%;
    width: 100%;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    padding: 0 2.8%;
    opacity: 0;
    -webkit-transition: opacity .7s, -webkit-transform .7s;
    transition: opacity .7s, transform .7s;
    /*list-style: none;*/ }
    .answer-container .button-set.active {
      right: 0;
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1); }
    .answer-container .button-set.removed {
      right: 100%;
      opacity: 0;
      -webkit-transition: opacity .7s, right .7s;
      transition: opacity .7s, right .7s; }
    .answer-container .button-set .button {
      width: 48%;
      /*      height:71px;*/
      margin-right: 2.5%;
      text-align: center;
      font-size: .75em;
      color: white;
      border-radius: 40px;
      /*background: $blue;*/
      padding: 1em 0;
      display: block;
      float: left;
      margin-bottom: 2.5%; }
      .answer-container .button-set .button:nth-child(even) {
        margin-right: 0%; }

/*# sourceMappingURL=style.css.map */
